header {
    border-bottom: 2px solid #0da487;
}

body.admin-login {
    background: #0da487;
}

.admin-login .log-in-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.admin-login .log-in-box {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fs-12 {
    font-size: 12px;
}


.search-box .absolute {
    position: absolute;
    right: 0;
}

.search-box.rounded input {
    border-radius: 50px;
}

.search-box.rounded button {
    border-radius: 50px;
    padding: 11px 28px;
}
.w-60px{
    width: 60px;
}

.mh-100px {
    max-height: 100px;
}

/* Customize product tags */
.product-label-tag.success-label-tag{
    background: #198754!important;
}
.product-label-tag.success-label-tag::before, .product-label-tag.success-label-tag::after{
    border-bottom: solid 15px #198754;
}

.product-label-tag.danger-label-tag{
    background: #dc3545!important;
}
.product-label-tag.danger-label-tag::before, .product-label-tag.danger-label-tag::after{
    border-bottom: solid 15px #dc3545;
}

.text-truncate-multiline {
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Chips */
.chip {
    display: inline-flex;
    align-items: center;
    padding: 0.2rem 0.8rem;
    margin: 0.2rem;
    background-color: #e0e0e0;
    border-radius: 16px;
    font-size: 0.9rem;
    color: #333;
}

/* Homepage Diseases Section Start */
.diseases-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.diseases-section .category-item {
    width: 162px;
    box-sizing: border-box;
    text-align: center;
}

.diseases-section .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile specific adjustments */
@media (max-width: 767px) {
    .diseases-section {
        display: block;
    }

    .diseases-section .slick-slide {
        width: 150px!important;
    }

    .diseases-section .category-item {
        width: 100%;
        box-sizing: border-box;
    }

    .diseases-section .slick-track {
        padding: 0 10px;
        box-sizing: border-box;
    }

    .diseases-section::-webkit-scrollbar {
        display: none;
    }
}
/* Homepage Diseases Section End */

/* Mobile responisve */
@media (max-width: 767px) {
    header .onhover-category-list .onhover-category-box {
        min-height: auto;
    }

    .mob-height-0{
        height: 0;
    }
}