.dt-image {
    width: 100px;
    height: auto;
    max-height: 86px;
}

.image-preview button{
    position: absolute;
    top: 0;
    left: 12px;
}

.preview-img{
    max-width: 100%;
}

.note-editor .dropdown-toggle::after{
    display: none!important;
}

.product-thumbnail-column {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-name-column {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chosen-container-single .chosen-single, .chosen-container-multi{
    background: #f9f9f6 !important;
    padding: 10px 10px !important;
    height: 45px!important;
    margin-top: 10px!important;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)))!important;
    border: 1px solid #ced4da !important;
}

.chosen-container-multi{
    padding: 0!important;
}

.chosen-container-multi .chosen-choices{
    background: #f9f9f6 !important;
    padding: 10px 10px !important;
    height: 45px!important;
    border: 1px solid #ced4da !important;
}

.chosen-container-single .chosen-single div b{
    margin-top: 10px!important;
}

.w-90px{
    width: 90px;
}